:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;

    /* defaults for light mode */
    --text: var(--base00);
    --textHL: var(--base01);
    --textLL: var(--base1);
    --background: var(--base3);
    --backgroundHL: var(--base2);
}

/* resetting vars for dark */
@media (prefers-color-scheme: dark) {
    :root {
        --text: var(--base0);
        --textHL: var(--base1);
        --textLL: var(--base01);
        --background: var(--base03);
        --backgroundHL: var(--base02);
    }
}

/* basic color scheme*/
html {
    font-family: Verdana, Arial, sans-serif;
    background-color: var(--base3);
    color: var(--base00);
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--base03);
        color: var(--base0);
    }
}

/* MAIN CSS DATA */

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 98vh;
}

/* .buffer {
    flex: 1;
    border: 2px red solid;
} */

.innerContainer {
    background-color: var(--backgroundHL);
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    height: 500px;
}